<div class="rsidebar span_1_of_left">
    <form action="/Product/SearchUP" method="post">
        <section class="sky-form">
            <h4>Hãng sản xuất</h4>
            <div class="row row1 scroll-pane">
                <div class="col col-4">
                    @Html.Action("HSX", "Product")
                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Giá</h4>
            <div class="row row1 scroll-pane">
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>0 - 5 triệu</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>5 - 10 triệu</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10 triệu <</label>
                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Hệ điều hành</h4>
            <div class="row row1 scroll-pane">
                <div class="col col-4">
                    @Html.Action("HDH", "Product")
                </div>
            </div>
        </section>
        <input type="submit" value="Search" />
    </form>
</div>